<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <% include ../partials/clouds %>
        <div id="loginContainer" class="authContainer">
            <a href="/"><img src="img/terrierLogo.png" id="terrierLogo"></a>

            <h1 id="loginThemeTitle"></h1>

            <!-- April 10th: Adding this now -->
            <h2 id="buRegistrationMessage">Note: Note: Registration is now only open to local Boston students. Global registration has closed.</h2>

            <!-- Server Messages -->
            <div class="text-center">
                <% if (message.length > 0) { %>
                    <h3 class="serverMessageError loginSignupMessage"> <%= message %></h3>
                <% } %>
                <% if (forgotMessageSuccess.length > 0) { %>
                    <h3 class="serverMessageSuccess forgotMessage"> <%= forgotMessageSuccess %> </h3>
                <% } %>
                <% if (forgotErrorMessage.length > 0) { %>
                    <h3 class="serverMessageError forgotMessage"> <%= forgotErrorMessage %> </h3>
                <% } %>
            </div>

            <div id="inputContainer">
                <div class="form-group">
                    <h2> Email: </h2>
                    <input type="email" class="textForm" name="email" id="emailInput" placeholder="you@bostonhacks.io">
                </div>
                <div class="form-group" id="passwordField">
                    <h2> Password: </h2>
                    <input type="password" class="textForm" name="password" id="passwordInput" placeholder=">= 9 characters">
                </div>
                <br>
                <button class="button loginButtons" id="submit">Login</button>
            </div>

            <div id="additionalOptions">
                <a id="signupRedirect"><h3 class="authLinkText">Need to make an Account?</h3></a>
                <a id="forgotRedirect"><h3 class="authLinkText">Forgot Password?</h3></a>
            </div>
        </div>
    </body>

<footer>
    <% include ../partials/footer %>
    <script src="js/login.js"></script>

    <!-- Populate email field if they failed.. gatta be nice :) -->
    <script type="text/javascript">
        var initialView = "<%= initialView %>";

        <% if (email) { %>
            document.getElementById('emailInput').value = "<%= email %>";
        <% } %>
    </script>


</footer>
</html>




