<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1> Hi <%= user.first_name %>!</h1>
        <h2><span class="fa fa-anchor"></span> Profile Page</h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %><br>
                        <strong>registered</strong>: <%= user.local.registered %>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
        <ul>
            <li>Application Status</li>
            <li>Change profile information</li>
            <li>"I can no longer attend"</li>
            <li>Join Social Media (Slack as well.. maybe make Slack it's own separate thing)</li>
            <li>We could make icons of social media.. maybe</li>

        </ul>
        </div>
    </div>

</div>
</body>
</html>