<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">

</head>
<body class="dark-background">
    <% include ../partials/profile-nav %>

    <div class="profile-container">
        <% if (notAttendingMessageSuccess.length > 0) { %>
            <div class="text-center">
                <h4 class="serverMessageSuccess"> <%= notAttendingMessageSuccess %> </h4>
            </div>
        <% } %>

        <div class="large-4 columns profile-info" id="info">
            <h2 class="profile-info-header"> Your info: </h2>
            <h4 class="profile-info-details"> <b>Email:</b> <%= email %> </h4>
            <h4 class="profile-info-details"> <b>Status:</b> <%= status %> </h4>
        </div>

        <div class="large-8 columns" id="actions">
                <h2 class="profile-app-header"> Actions: </h2>
                <a href="https://join.slack.com/t/bostonhacks-f17/shared_invite/enQtMjQ3Mjk1NjIyNTMxLTI3ZDU5YzAxN2I4ZjUzMDNhNWU4NDVhNWJmYzFmNTg4NDI1YmE0ZjRkMGE3YjU1YmQzYjBkYjliMzE4MDc0NWE"><h4 class="profile-info-details">Join Our Slack!</h4></a>
                <a href=/not-attending-confirmation><h4 class="profile-info-details"> "I can no longer attend"</h4></a>
                <div>
                    <div class="team-formation-button">
                        <a href="/team-formation" id="teamFormationButton" class="button">Team Questionnaire</a>
                    </div>
                </div>
        </div>
    </div>

    <% include ../partials/profile-footer %>
</body>

<% include ../partials/footer %>

<script type="text/javascript">
    // If they aren't attending, make the info panel full width and hide the actions panel
    if ('<%= status %>' === "Not Attending" || '<%= notAttendingMessageSuccess %>'.length) {
        $('#info').attr('class', 'large-12 columns profile-info');
        $('#actions').hide();
    }
</script>

<script src="https://use.fontawesome.com/fae771462f.js"></script>
</html>